@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,800;1,900&display=swap');

body {
    font-family: "Raleway", sans-serif; 
    font-weight: 300; 
    color: black;
   width: 100%;
    margin-top:auto;
    }

.container{
    max-width: 100%;
}

main.wrapper {
    width: 100%;
}

a {
    font-weight: 800;
    font-style: italic;
    color: black;
    text-decoration: none;
    text-align: center;
}

a:active {
 color: #cc9933;
}

header{
    display: block;
    max-width: 100%;
}
h1 a {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: black;
    display: inline-block;

}

.title {
    color:#b7ba1f;
    text-align: center;
}


.text {
    margin-top: inherit;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    float:left;
    width:52%;
    padding-left:2.5%;
    margin-top:5%;
}

aside {
    float:right;
    width:42%;
    padding-right:2.5%;
    margin-top:5%;
    display:block;
}

footer {
    width: 100%;
    color: black;
    text-align: center;
    clear:both;
        
}

div.feedback {
    min-height:400px;
    width:90%;
    margin:12% auto;
    text-align:center;
}


/* Change background color of navigation on selected page */
ul.topnav li a.selected {
        		background-color: white;
        		color:hotpink;
   }
/*gallery rules*/
.grid-image-gallery {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow:row dense;
    margin: 5% auto 5%;
    max-width: 95vw;
}

.grid-image-gallery img {
    object-fit: contain;
    width: 100%; 
}




/* Desktops and laptops ----------- */
@media all and (min-width:1280px) {
  /* CSS rules */
}

/* Tablets  (portrait and landscape) ----------- */
@media all and (min-width:768px) and (max-width:1279px) {
    .grid-image-gallery {
        display:grid;
        grid-gap: 15px;
        grid-template-columns: auto auto;
        grid-template-rows:auto;
        margin: 5% auto 5%;
    }
    .grid-image-gallery img {
    object-fit: contain;
    width: 100%; 
}
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width:767px) {
    .grid-image-gallery {
        display:block;
        margin: 2% auto 2%;
        width: 100%;
    }
    
    .grid-image-gallery img{
    object-fit: contain;
    width: 100%; 
}
    
aside{
    float:none;
    width:100%;
    }
    
section{
    float:none;
    width:100%;
    }
}


